@charset "utf-8";
@import "~bulma/bulma";
@import "bulma-social/css/all.min.css";

  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
      Arial, sans-serif;
    background-color: whitesmoke;
  }
  
  h1 {
    display: flex;
    font-size: 50px;
    color: white;
    justify-content: center;
    
  }

  .chevron-down {
    fill: #FFF;
    margin: auto;
    width: 5em;
    height: 5em;
    animation: hover-me .5s infinite ease-in-out alternate; 
  }
  
  @keyframes hover-me {
    100% { transform: translate3d(0, 25px, 0); }
  }
 
.subtitle{
  color: black;
}

#vizHeaderBG{
  background-color: #33FFFF;
}

#repHeaderBG{
  background-color: #FF3399;
}

#title{
    background-color: black; 
  }

#why{
  border-top: 5px solid white;
  background-color: #3399FF;
}

#connect-form{
  
  background-color: #FF33FF;
  border-top: 5px solid white;
}

#schema{
  border-top: 5px solid white;
  background-color: #9933FF;
}

#visualize{
  background-color: #33FFFF; 
  border-top: 5px solid white;
}

#repfactor{
  background-color: #FF3399;
  border-top: 5px solid white;
}

#connect{
  border-top: 5px solid white;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.hero-foot{
  font-size:small;
  background-color: black;
}

